{% extends 'base.html' %}
{% block start %}

<div class="container-xxl py-5 bg-primary hero-header mb-5">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="text-center text-lg-start">
                <h1 class="text-center text-white mb-4 animated zoomIn">
                    Comprehensive Evaluation and Customized Sorting of Colleges
                </h1>
                <h4 class="text-white pb-3 animated zoomIn text-center">
                    Your satisfaction is our top priority
                </h4>
            </div>
            <div class="text-center">
                <!-- Yellow button within a div -->
                <div class="mb-5">
                    <a href="/contest/" class="btn btn-lg btn-light">Rank Colleges</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(29, 29, 39, 0.7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-light p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="section-title position-relative mb-4 pb-2">
                    <h6 class="position-relative text-primary ps-4">About Us</h6>
                    <h2 class="mt-2">Our platform meticulously evaluates educational institutions across various
                        parameters, offering a holistic view of their performance and standing within the academic
                        landscape.</h2>
                </div>
                <p class="mb-4">
                    Welcome to Your Ranking, your premier destination for comprehensive educational rankings and
                    insights. At Your Ranking, we are dedicated to providing valuable information to students,
                    educators, and institutions alike, aiding in informed decision-making and fostering academic
                    excellence.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="../static/img/nirf.jpg">
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{%endblock%}